<nav class="navbar navbar-expand-lg bg-primary">
  <a class="navbar-brand text-white" href="/">Hola mundo</a>
</nav>
<div class="container tex-center">
  <div class="row">
    <div class="col">
      <div class="card shadow m-4">
        <h2 class="text-center mt-2">Inicio de sesion</h2>
        <div class="alert alert-danger m-2" role="alert" *ngIf="mensageError !== ''">
          <i class="fas fa-times"></i> {{mensageError}}
        </div>
        <form (ngSubmit)="login(formLogin)" #formLogin="ngForm" class="card-body">
          <div class="form-group">
            <span *ngIf="formLogin.touched && formLogin.controls['email'].errors" class="text-danger">*Proporcione una dirección de correo valida</span>
            <input type="email" [(ngModel)]="usuario.email" name="email" class="form-control" placeholder="correo electronico" required email>
          </div>

          <div class="form-group">
            <span *ngIf=" formLogin.touched && formLogin.controls['password'].errors" class="text-danger">La contraseña debe de tener 6 caracteres como minimo</span>
            <input type="password" [(ngModel)]="usuario.password" name="password" class="form-control" placeholder="contraseña" required password>
          </div>

          <div class="row">
            <button type="submit" class="btn btn-primary m-2" [disabled]='formLogin.invalid'><i class="fas fa-sign-in-alt"></i> Iniciar sesion</button>
            <button type="button" class="btn btn-primary m-2" [routerLink]="['/signin']" ><i class="fas fa-user-plus"></i> Registrarme</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
